@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  color: rgb(110, 17, 198);
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}
h1 {
  font-size: 36px;
}

P {
  line-height: 1.5;
  font-size: 16px;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.container {
  padding: 50px 0;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

section:nth-child(even) {
  background-color: #f8f8f8;
}

.section__title {
  margin-bottom: 20px;
}

/* NAVIGATION BAR */
nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
}

.nav__link--anchor-primary:hover {
  background-color: #5d3eff;
  transition: all 0.3s ease-in-out;
}

.personal__logo {
  font-size: 24px;
  color: #6030b1;
  margin: 0 12px;
  font-weight: bold;
}

/*ABOUT-ME*/

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__picture {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: 50% 20%;
}

.about-me__info--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  flex-direction: column;
}
.about-me__info--paragraph {
  text-align: center;
  margin: 0 auto;
  max-width: 500px;
  line-height: 1.5;
  color: black;
}
.about-me__info--paragraph .text--purple {
  color: #6030b1;
  text-decoration: none;
  font-weight: bold;
}
.about-me__info--title .text--purple {
  color: #6030b1;
  font-size: 36px;
}

.about-me__picture--mask {
  width: 125px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.45);
  display: block;
  margin: 0 auto;
}

.about-me__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /*PICTURE IMPROVEMENTS*/
  transform: scale(1.5);
}

.about-me__link {
  color: #6633cc;
  font-size: 32px;
  text-decoration: none;
  padding: 16px 16px;
}

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me__img {
  width: 100%;
}

/*TECH - STACK*/

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__img {
  width: 100%;
  max-width: 100px;
  padding: 24px;
  transition: all 0.3s ease;
}

.language__img:hover {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language_img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language__name {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.language__list {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 24px;
}
